body {
    display: flex;
    font-family: 'Roboto', sans-serif;
}

aside {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    background-color: rgb(32, 93, 150);
    max-width: 30%;
    color: white;
}

aside img {
    width: 40%;
}

.barre-blanche {
    width: 100%;
    height: 10px;
    background-color: white;
}

main {
    flex: 2;
    max-width: 60%;
}